USE [master]
GO
/****** Object:  Database [Fitnes]    Script Date: 18.04.2023 13:18:12 ******/
CREATE DATABASE [Fitnes]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Fitnes', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Fitnes.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Fitnes_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Fitnes_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Fitnes].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Fitnes]
GO
/****** Object:  User [STUDY-MAIN\Exam]    Script Date: 18.04.2023 13:18:12 ******/
CREATE USER [STUDY-MAIN\Exam] FOR LOGIN [STUDY-MAIN\Exam] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Klient]    Script Date: 18.04.2023 13:18:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Klient](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Familiya] [nvarchar](50) NOT NULL,
	[Imya] [nvarchar](50) NOT NULL,
	[Otchestvo] [nvarchar](50) NULL,
	[Data_rozhdeniya] [date] NOT NULL,
	[Pol] [nchar](10) NOT NULL,
	[Telefon] [numeric](18, 0) NOT NULL,
	[e-mail] [nvarchar](50) NULL,
 CONSTRAINT [PK_Klient] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 18.04.2023 13:18:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Schet]    Script Date: 18.04.2023 13:18:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Schet](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_Klient] [int] NOT NULL,
	[ID_Usluga] [int] NOT NULL,
	[ID_Vid_oplsty] [int] NOT NULL,
	[K_oplate] [money] NULL,
 CONSTRAINT [PK_Schet] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sotrudnik]    Script Date: 18.04.2023 13:18:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sotrudnik](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Familiya] [nvarchar](50) NOT NULL,
	[Imya] [nvarchar](50) NOT NULL,
	[Otchestvo] [nvarchar](50) NULL,
	[Role] [int] NOT NULL,
	[Login] [nchar](10) NOT NULL,
	[Password] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Sotrudnik] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tipy_uslug]    Script Date: 18.04.2023 13:18:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tipy_uslug](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Tip_uslugi] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Tipy_uslug] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Uslugi]    Script Date: 18.04.2023 13:18:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Uslugi](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Tip_uslugi] [int] NOT NULL,
	[Usluga] [nvarchar](50) NOT NULL,
	[Price] [money] NOT NULL,
	[Prodolzhitelnost] [time](7) NOT NULL,
	[ID_sotrudnik] [int] NOT NULL,
 CONSTRAINT [PK_Uslugi] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vid_oplaty]    Script Date: 18.04.2023 13:18:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vid_oplaty](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Vid_oplaty] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Vid_oplaty] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Schet]  WITH CHECK ADD  CONSTRAINT [FK_Schet_Klient] FOREIGN KEY([ID_Klient])
REFERENCES [dbo].[Klient] ([ID])
GO
ALTER TABLE [dbo].[Schet] CHECK CONSTRAINT [FK_Schet_Klient]
GO
ALTER TABLE [dbo].[Schet]  WITH CHECK ADD  CONSTRAINT [FK_Schet_Uslugi] FOREIGN KEY([ID_Usluga])
REFERENCES [dbo].[Uslugi] ([ID])
GO
ALTER TABLE [dbo].[Schet] CHECK CONSTRAINT [FK_Schet_Uslugi]
GO
ALTER TABLE [dbo].[Schet]  WITH CHECK ADD  CONSTRAINT [FK_Schet_Vid_oplaty] FOREIGN KEY([ID_Vid_oplsty])
REFERENCES [dbo].[Vid_oplaty] ([ID])
GO
ALTER TABLE [dbo].[Schet] CHECK CONSTRAINT [FK_Schet_Vid_oplaty]
GO
ALTER TABLE [dbo].[Sotrudnik]  WITH CHECK ADD  CONSTRAINT [FK_Sotrudnik_Role1] FOREIGN KEY([Role])
REFERENCES [dbo].[Role] ([ID])
GO
ALTER TABLE [dbo].[Sotrudnik] CHECK CONSTRAINT [FK_Sotrudnik_Role1]
GO
ALTER TABLE [dbo].[Uslugi]  WITH CHECK ADD  CONSTRAINT [FK_Uslugi_Sotrudnik] FOREIGN KEY([ID_sotrudnik])
REFERENCES [dbo].[Sotrudnik] ([ID])
GO
ALTER TABLE [dbo].[Uslugi] CHECK CONSTRAINT [FK_Uslugi_Sotrudnik]
GO
ALTER TABLE [dbo].[Uslugi]  WITH CHECK ADD  CONSTRAINT [FK_Uslugi_Tipy_uslug1] FOREIGN KEY([Tip_uslugi])
REFERENCES [dbo].[Tipy_uslug] ([ID])
GO
ALTER TABLE [dbo].[Uslugi] CHECK CONSTRAINT [FK_Uslugi_Tipy_uslug1]
GO
USE [master]
GO
